.logo-color {
  background: #f66e00;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenForm {
  width: 450px;
}

.searching-form{
  padding: 16px;
  border: solid 1px rgba(34,36,38,.1);
  border-radius: 16px 16px 0px 0px;
  box-shadow: 1px 1px 4px 1px rgba(109, 109, 109, 0.25);
  background-color: rgb(223, 246, 252);
}


@media screen and (max-width: 540px) {
  .center {
    display: flex;
    justify-content: center;
  }
  .formImage {
    width: 150px;
  }

  .authenForm {
    width: 324px;
  }

  .userForm {
    padding: 16px;
    }
}

.orange-text {
  color: #f16d00;
}

.displayNone {
  display: none;
}

.toast-success{
  /* float:right; */
  /* width: 80%; */
  font-weight: bold;
  color: #f66e00;
}
