.logo-color {
  background: #f66e00;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenForm {
  width: 400px;
}

@media screen and (max-width: 540px) {
  .center {
    display: flex;
    justify-content: center;
  }
  .formImage {
    width: 150px;
  }

  .authenForm {
    width: 320px;
  }
}

.orange-text {
  color: #f16d00;
}

.displayNone {
  display: none;
}
